.app_layout_wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;

  background-color: #040b1c;

  .app_layout_sidebar {
    width: 362px;
    height: 100%;
    background-color: #111828;
  }

  .app-layout_pages {
    width: calc(100% - 362px);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .app_layout_pages_header {
      width: 100%;
      height: 80px;
      backdrop-filter: blur(100px);
      border-radius: 14px;
    }

    .app_layout_pages_body {
      width: 100%;
      height: calc(100% - 80px);
      overflow: hidden;
      overflow-y: auto;
      backdrop-filter: blur(100px);
      border-radius: 14px;
      padding: 10px;
    }
  }
}
