.header_profile_warpper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;



  .header_profile_info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .header_profile_full_name {
      color: #fff;
      font-size: 22px;
    }

    .header_profile_minitary_rank {
      color: #fff;
      opacity: 60%;
    }
  }
}
