.header_date_time_resources_warpper {
  display: flex;
  align-items: center;
  gap: 22px;
  color: white;
  font-size: 14px;

  .header_date_time_resources_day {
    font-size: 20px;
    margin-top: 15px;
    min-width: 100px;
    text-align: center;
  }

  .header_date_time_resources_calendar {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 5px;
    min-width: 100px;
    justify-content: center;

    svg {
      width: 25px;
      height: 25px;
    }

    span {
      font-family: "Courier New", monospace;
      min-width: 75px;
      text-align: center;
      display: inline-block;
      font-variant-numeric: tabular-nums;
    }
  }

  .header_date_time_resources_time {
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 5px;
    min-width: 90px;
    justify-content: center;

    svg {
      width: 25px;
      height: 25px;
    }

    span {
      font-family: "Courier New", monospace;
      min-width: 65px;
      text-align: center;
      display: inline-block;
      font-variant-numeric: tabular-nums;
    }
  }
}
