.custom-add-button {
  background-color: #16b6bc !important;
  border-color: #16b6bc !important;
  color: white !important;

  &:hover {
    background-color: #129ca0 !important; // biroz quyuqroq
    border-color: #129ca0 !important;
  }
}

.button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
